@model ForumApp.ViewModels.Home.HomeIndexModel

<div class="container body-content">
    <div class="row frontPageSplash">
        <div class="col-md-6 frontPageLearn">
            <div class="frontPageHeading">Learn, collaborate, Share Knowledge</div>
            <p class="frontPageSubHeading">Forums is the world's faster growing coding forum.</p>
            <div>
                <form asp-controller="Search" asp-action="Search" method="post">
                    <input asp-for="SearchQuery" type="text" class="homeSearch" placeholder="Search...." />
                </form>
            </div>
        </div>
        <div class="col-md-6">

        </div>
    </div>
    <div class="row frontPageContent">
        <h3 id="latestPosts">Latest Posts</h3>
        <table class="table table-hover" id="latestPostsTable">
            <tbody>
                @foreach (var posts in Model.LatestPosts)
                {
                    <tr>
                        <td>
                            <div class="forumLogo" style="background-image:url(@posts.Forum.Image); background-size:100%">
                                <div class="postTitle">
                                    <a asp-controller="Post" asp-action="Index" asp-route-id="@posts.Id">
                                        @posts.Title
                                    </a>
                                </div>
                                <div class="postSubtitle">
                                    @if (posts.RepliesNumber == 1)
                                    {
                                        <span>@posts.RepliesNumber Reply</span>
                                    }
                                    @if (posts.RepliesNumber == 0)
                                    {
                                        <span>No replies</span>
                                    }
                                    else
                                    {
                                        <span>@posts.RepliesNumber Replies</span>
                                    }
                                    <span class="postUser">
                                        <a asp-controller="Profile" asp-action="Details" asp-route-id="@posts.UserId">@posts.UserName</a>
                                    </span>
                                </div>
                            </div>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </div>
</div>